.layout {
  height: 100vh;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),
              0px 1px 1px 0px rgba(0,0,0,0.14),
              0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 4px;
  padding: 15px;
  background-color: white;
  min-width: 280px;
  width: 90vw;
  max-width: 500px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 30px;
}

.logo {
  height: 60px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
