.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.formInput {
    width: 100%;
}

.submitButton {
    height: 50px;
    background: #417ec7 !important;
    color: white !important;
    &:hover {
        filter: brightness(0.9);
    }
}
