.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.formInput {
    width: 300px;
    height: 50px;
}

.submitButton {
    width: 300px;
    height: 50px;
    background: #417ec7 !important;
    color: white !important;
    &:hover {
        filter: brightness(0.9);
    }
}

.error {
    color: #d32f2f !important;
}

.oauthButton {
    border-radius: 6px;
}

.providerImg {
    width: 50px;
    margin-right: 1em;
}
