.infoText {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  font-size: 14px;
  width: 100%;
  &:hover {
    color: #000;
  }
}

.separationContainer {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #000;
  padding: 10px 40px;
  &::before {
    content: '';
    height: 1px;
    display: block;
    background-color: #000;
    width: auto;
    flex-grow: 1;
    margin-right: 30px;
  }
  &::after {
    content: '';
    height: 1px;
    display: block;
    background-color: #000;
    width: auto;
    flex-grow: 1;
    margin-left: 30px;
  }
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 40px;
  padding-top: 25px;
  border-top: 1px dotted rgba(0, 0, 0, 0.25);
}

.ssoContainer {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  padding-bottom: 20px;
  cursor: pointer;
  display: block;
  color: #000;
}
