.form {
  display: flex;
  padding: 10px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formInput {
  margin: 10px 0 !important;
  width: 300px;
  height: 50px;
}

.submitButton {
  margin: 20px 0 10px 0;
  width: 300px;
  height: 50px;
  text-align: center;
  background: #417ec7 !important;
  color: white !important;
  &:hover {
    background: #417ec799 !important;
  }
}

.socialLogin {
  padding: 10px;
}

.socialButton {
  margin-top: 15px;
  border: 1px solid;
  border-radius: 4px;
  padding: 6px 8px;
  text-align: center;
}

.separationContainer {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #000;
  padding: 10px 40px;
  &::before {
    content: '';
    height: 1px;
    display: block;
    background-color: #000;
    width: auto;
    flex-grow: 1;
    margin-right: 30px;
  }
  &::after {
    content: '';
    height: 1px;
    display: block;
    background-color: #000;
    width: auto;
    flex-grow: 1;
    margin-left: 30px;
  }
}
