.form {
  display: flex;
  padding: 10px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.25);
}

.formInput {
  margin: 10px 0 !important;
  width: 300px;
  height: 50px;
}

.infoText {
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: rgba(0, 0, 0, 0.15);
  }
}

.submitButton {
  margin: 20px 0;
  width: 300px;
  height: 50px;
  text-align: center;
  background: #417ec7 !important;
  color: white !important;
  &:hover {
    background: #417ec799 !important;
  }
}
