.form {
  display: flex;
  padding: 10px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formInput {
  margin: 10px 0 !important;
  width: 300px;
  height: 50px;
}

.submitButton {
  margin: 20px 0;
  width: 300px;
  height: 50px;
  background: #417ec7 !important;
  color: white !important;
  &:hover {
    background: #417ec799 !important;
  }
}

.error {
  color: #d32f2f !important;
  padding-top: 5px;
}

.oauthButton {
  padding: 20px 0 30px 0;
  border-radius: 6px;
}

.providerImg {
  width: 50px;
  margin-right: 15px;
}
